@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.main-button {
  padding: 21px 40px;
  border: 0;
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(135, 212, 255, 0.2)), to(rgba(135, 212, 255, 0.2))), #2160B6;
  background: linear-gradient(0deg, rgba(135, 212, 255, 0.2), rgba(135, 212, 255, 0.2)), #2160B6;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.modal-content {
  display: none;
}

.modal-two {
  display: none;
}

.tingle-modal-box {
  width: 562px;
}

.tingle-modal-box__content {
  padding: 0;
}

.modal-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-all .modal-header {
  background-image: url("../img/modal.png");
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-all .modal-header .modal-caption {
  max-width: 450px;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}
.modal-all .modal-body .modal-name input,
.modal-all .modal-body .modal-phone input,
.modal-all .modal-body .modal-mail input {
  border: 3px solid #A6A4A4;
  color: #A6A4A4;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 17px 15px 17px 15px;
  width: 434px;
  margin-bottom: 26px;
}
.modal-all .modal-body .modal-comment textarea {
  width: 434px;
  height: 93px;
  margin-bottom: 34px;
  border: 3px solid #A6A4A4;
  color: #A6A4A4;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 17px 15px 17px 15px;
}
.modal-all .modal-body .modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}
.modal-all .modal-body .modal-check input {
  width: 18px;
  height: 18px;
}
.modal-all .modal-body .modal-check span {
  max-width: 400px;
  color: #000;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-left: 11px;
}
.modal-all .modal-footer {
  margin-bottom: 38px;
  text-align: center;
}

.modal-all .modal-bodie {
  margin-bottom: 97px;
}
.modal-all .modal-bodie .modal-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  max-width: 450px;
  color: #000;
}
.modal-all .modal-foot {
  margin-bottom: 54px;
}

header {
  padding: 33px 40px;
}
header .header__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__all .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__all .header__nav ul li {
  margin: 0 19px;
}
header .header__all .header__nav ul li a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
header .header__all .header__nav ul li a:hover {
  color: #777777;
}
header .header__all .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header__all .header__contact .contact {
  margin: 0 0 5px 0;
}
header .header__all .header__contact .contact .second-contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__all .header__contact .contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__all .header__contact .contact a .what-span {
  margin-left: 7px;
}
header .header__all .header__contact .contact .contact-img {
  height: 39px;
  width: 39px;
}
header .header__all .header__contact .contact .contact-img .phone {
  -webkit-transform: rotate(10.05deg);
          transform: rotate(10.05deg);
}
header .header__all .header__contact .contact .whatsapp {
  margin-left: -7px;
}
header .header__all .header__contact .contact span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
header .header__all .header__contact .contact span:hover {
  color: #777777;
}
header .header__all .burger {
  display: none;
}
header .header__all .burger-logo {
  z-index: -9999;
  margin-left: -100px;
}

.dropout {
  display: none;
  margin-top: 25px;
}
.dropout .dropout__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropout .dropout__all .dropout__nav {
  margin-bottom: 20px;
}
.dropout .dropout__all .dropout__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.dropout .dropout__all .dropout__nav ul li {
  margin: 0 0 20px 0;
}
.dropout .dropout__all .dropout__nav ul li a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.dropout .dropout__all .dropout__nav ul li a:hover {
  color: #777777;
}
.dropout .dropout__all .dropout__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.dropout .dropout__all .dropout__contact .contact {
  margin: 0 20px;
}
.dropout .dropout__all .dropout__contact .contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropout .dropout__all .dropout__contact .contact .contact-img {
  height: 39px;
  width: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dropout .dropout__all .dropout__contact .contact .contact-img .phone {
  -webkit-transform: rotate(10.05deg);
          transform: rotate(10.05deg);
}
.dropout .dropout__all .dropout__contact .contact span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.dropout .dropout__all .dropout__contact .contact span:hover {
  color: #777777;
}

.promo {
  background: url("../img/Frame 2.png");
  background-size: cover;
  padding: 0 50px;
  margin-bottom: 75px;
}
.promo .promo__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo .promo__all .promo__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promo .promo__all .promo__left .promo__caption {
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  max-width: 750px;
  margin-bottom: 100px;
}

.about {
  padding: 0 50px;
  margin-bottom: 120px;
}
.about .about__caption {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 60px;
}
.about .about__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .about__all .about__left {
  margin: 0 35px 0 0;
}
.about .about__all .about__right {
  margin: 0 0 0 35px;
}
.about .about__all .about__right .about__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  max-width: 645px;
}

.production {
  padding: 0 45px;
  margin-bottom: 200px;
}
.production .production__caption {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 40px;
  text-align: center;
}
.production .production__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.production .production__all .production__card {
  background-color: #fff;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 210px;
}
.production .production__all .production__card .card__img {
  text-align: center;
}
.production .production__all .production__card .card__text {
  max-width: 208px;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.delivery {
  margin-bottom: 200px;
  background-image: url("../img/delivery.png");
  background-size: cover;
  padding: 70px 0;
}
.delivery .delivery__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.delivery .delivery__all .delivery__caption {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #fff;
  text-align: center;
  margin-bottom: 36px;
}
.delivery .delivery__all .delivery__main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #fff;
  background: transparent;
  margin-bottom: 90px;
  padding: 50px 33px 100px 33px;
}
.delivery .delivery__all .delivery__main .main__caption {
  margin-bottom: 56px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  max-width: 490px;
}
.delivery .delivery__all .delivery__main .main__text {
  max-width: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.delivery .delivery__all .delivery__main .main__text span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.delivery .delivery__all .delivery__main .main__text span:first-child {
  margin-bottom: 8px;
}

.partners {
  margin-bottom: 200px;
  padding: 0 40px;
}
.partners .partners__caption {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  text-align: center;
  margin-bottom: 80px;
}
.partners .partners__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.community {
  margin-bottom: 100px;
  padding: 0 40px;
}
.community .community__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.community .community__all .community__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.community .community__all .community__left .community__caption {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000;
  margin-bottom: 40px;
  max-width: 265px;
}
.community .community__all .community__left .community__body {
  margin-bottom: 100px;
}
.community .community__all .community__left .community__body .community__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.community .community__all .community__left .community__body .community__span span {
  max-width: 265px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 13px;
}
.community .community__all .community__left .community__body .community__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.community .community__all .community__left .community__body .community__contact .contact {
  margin: 0 0 5px 0;
}
.community .community__all .community__left .community__body .community__contact .contact .second-contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.community .community__all .community__left .community__body .community__contact .contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.community .community__all .community__left .community__body .community__contact .contact a .what-span {
  margin-left: 7px;
}
.community .community__all .community__left .community__body .community__contact .contact .contact-img {
  height: 39px;
  width: 39px;
}
.community .community__all .community__left .community__body .community__contact .contact .contact-img .phone {
  -webkit-transform: rotate(10.05deg);
          transform: rotate(10.05deg);
}
.community .community__all .community__left .community__body .community__contact .contact .whatsapp {
  margin-left: -7px;
}
.community .community__all .community__left .community__body .community__contact .contact span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.community .community__all .community__left .community__body .community__contact .contact span:hover {
  color: #777777;
}
.community .community__all .community__right iframe {
  width: 897px;
}

footer {
  background-color: #C4C4C4;
}
footer .footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 45px;
}
footer .footer__all .footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer__all .footer__nav ul li {
  margin: 0 19px;
}
footer .footer__all .footer__nav ul li a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
footer .footer__all .footer__nav ul li a:hover {
  color: #777777;
}
footer .footer__all .footer__contact {
  z-index: -9999;
}

@media screen and (max-width: 1230px) {
  header .header__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__all .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header__all .header__nav ul li {
    margin: 0 19px;
  }
  header .header__all .header__nav ul li a {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #000;
  }
  header .header__all .header__nav ul li a:hover {
    color: #777777;
  }
  header .header__all .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header__all .header__contact .contact {
    margin: 0 0 5px 0;
  }
  header .header__all .header__contact .contact .second-contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__all .header__contact .contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header__all .header__contact .contact a .what-span {
    margin-left: 7px;
  }
  header .header__all .header__contact .contact .contact-img {
    height: 39px;
    width: 39px;
  }
  header .header__all .header__contact .contact .contact-img .phone {
    -webkit-transform: rotate(10.05deg);
            transform: rotate(10.05deg);
  }
  header .header__all .header__contact .contact .whatsapp {
    margin-left: -7px;
  }
  header .header__all .header__contact .contact span {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #000;
  }
  header .header__all .header__contact .contact span:hover {
    color: #777777;
  }

  .production {
    margin-bottom: 175px;
  }
  .production .production__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .production .production__all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .production .production__all .production__card {
    margin: 0 0 25px 0;
    width: 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .partners {
    margin-bottom: 140px;
  }
  .partners .partners__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .partners .partners__all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .partners .partners__all .partners__partner {
    margin: 0 0 60px 0;
    width: 40%;
    text-align: center;
  }

  .community .community__all .community__left {
    margin: 0 20px 0 0;
  }
  .community .community__all .community__right {
    margin: 0 0 0 20px;
  }
  .community .community__all .community__right iframe {
    width: 650px;
  }

  footer .footer__all .footer__nav ul li a {
    font-size: 15px;
    line-height: 21px;
  }
}
@media screen and (max-width: 1024px) {
  header,
section,
footer {
    padding: 15px 30px !important;
  }

  header .header__all .header__nav,
header .header__all .header__contact {
    display: none !important;
  }
  header .header__all .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__all .burger button {
    width: 75px;
    height: 45px;
    border: none;
    font-size: 40px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #000;
    background: transparent;
  }
  header .header__all .burger-logo {
    margin-left: -150px;
  }

  .promo {
    padding-top: 25px !important;
  }
  .promo .promo__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo .promo__all .promo__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo .promo__all .promo__left .promo__caption {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 50px;
    text-align: center;
  }
  .promo .promo__all .promo__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about {
    margin-bottom: 90px;
  }
  .about .about__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .about .about__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__all .about__left,
.about .about__all .about__right {
    margin: 0 0 30px 0;
  }

  .production {
    margin-bottom: 175px;
  }
  .production .production__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .production .production__all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .production .production__all .production__card {
    margin: 0 0 25px 0;
    width: 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .delivery {
    padding: 30px 20px !important;
  }
  .delivery .delivery__all .delivery__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .delivery .delivery__all .delivery__main {
    width: 80%;
    margin-bottom: 80px;
  }

  .partners {
    margin-bottom: 140px;
  }
  .partners .partners__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .partners .partners__all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .partners .partners__all .partners__partner {
    margin: 0 0 60px 0;
    width: 40%;
    text-align: center;
  }

  .community .community__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .community .community__all .community__left {
    margin: 0 0 40px 0;
  }
  .community .community__all .community__left .community__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .community .community__all .community__left .community__body {
    margin-bottom: 50px;
  }
  .community .community__all .community__right {
    width: 100%;
  }
  .community .community__all .community__right iframe {
    width: 100%;
  }

  footer .footer__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  footer .footer__all .footer__logo {
    margin-bottom: 20px;
  }
  footer .footer__all .footer__nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer__all .footer__nav ul li {
    margin: 0 15px 20px 15px;
  }
  footer .footer__all .footer__nav ul li:last-child {
    margin: 0;
  }
  footer .footer__all .footer__contact {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  header,
section,
footer {
    padding: 15px 35px !important;
  }

  header .header__all .header__nav,
header .header__all .header__contact {
    display: none !important;
  }
  header .header__all .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__all .burger button {
    border: none;
    font-size: 40px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #000;
    background: transparent;
  }
  header .header__all .burger-logo {
    margin-left: -150px;
  }

  .promo {
    padding-top: 25px !important;
  }
  .promo .promo__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo .promo__all .promo__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo .promo__all .promo__left .promo__caption {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 50px;
    text-align: center;
  }
  .promo .promo__all .promo__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about {
    margin-bottom: 90px;
  }
  .about .about__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .about .about__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__all .about__left,
.about .about__all .about__right {
    margin: 0 0 30px 0;
  }

  .production {
    margin-bottom: 175px;
  }
  .production .production__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .production .production__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .production .production__all .production__card {
    margin: 0 0 25px 0;
    width: 220px;
  }

  .delivery {
    padding: 30px 20px !important;
  }
  .delivery .delivery__all .delivery__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .delivery .delivery__all .delivery__main {
    width: 100%;
    margin-bottom: 80px;
  }

  .partners {
    margin-bottom: 140px;
  }
  .partners .partners__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .partners .partners__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners .partners__all .partners__partner {
    margin: 0 0 60px 0;
  }

  .community .community__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .community .community__all .community__left {
    margin: 0 0 40px 0;
  }
  .community .community__all .community__left .community__caption {
    font-size: 35px;
    line-height: 45px;
  }
  .community .community__all .community__left .community__body {
    margin-bottom: 50px;
  }
  .community .community__all .community__right iframe {
    width: 100%;
  }

  footer .footer__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  footer .footer__all .footer__logo {
    margin-bottom: 20px;
  }
  footer .footer__all .footer__nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer__all .footer__nav ul li {
    margin: 0 15px 20px 15px;
  }
  footer .footer__all .footer__nav ul li:last-child {
    margin: 0;
  }
  footer .footer__all .footer__contact {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */